<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">

    <link rel="stylesheet" type="text/css" th:href="@{/css/table/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/font.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/common.css}" />

    <div id="wrap">
        <div id="header">
            <h1><a href="#">게시판 예제</a></h1>
        </div>
        <div id="container" class="div_normal">
            <!-- #contents -->
            <div id="contents">
                <!-- .content -->
                <div class="content">
                    <!-- .titArea -->
                    <div class="titArea">
                        <h3>게시판</h3>
                    </div>
                    <form id ="goDetailFrm" name="goDetailFrm" method="post">
                        <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
                        <!-- //.section -->
                        <div class="tblTop">
                            <div class="srchNum">총 <span th:text="${listSize}"></span>건이 검색되었습니다.</div>
                        </div>
                        <!-- .tblBox -->
                        <div class="tblBox" style="padding-top: 5px">
                            <table class="tblType01" style="table-layout: fixed">
                                <caption class="hide">신청자 목록</caption>
                                <colgroup>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 3%;">
                                        <div class="ipt_check_only">
                                            <input type="checkbox" id="ipt_check_all" class="ipt_check">
                                            <label for="ipt_check_all"></label>
                                        </div>
                                    </th>
                                    <th scope="col" style="width: 3%;">번호</th>
                                    <th scope="col" style="width: 5%;">제목</th>
                                    <th scope="col" style="width: 10%;">저자</th>
                                    <th scope="col" style="width: 10%;">조회수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="board, status :${bbsList}">
                                    <td scope="row">
                                        <div class="ipt_check_only">
                                            <input type="checkbox" class="ipt_check" th:id="${'userChk_' +(status.index+1)}" name="userChk" th:value="${board.bbsId}">
                                        </div>
                                    </td>
                                    <td th:text=" ${board.bbsId}"></td>
                                    <td th:text=" ${board.bbsTitle}"></td>
                                    <td th:text=" ${board.bbsAuthor}"></td>
                                    <td th:text=" ${board.readCount}"></td>
                                </tr>

                                <tr th:if="${listSize == 0}">
                                    <td colspan="9" scope="row">데이터가 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //.tblBox -->
                        <!-- .paging_wrap -->
                        <div class="paging_wrap">
                            <div class="btnBox left">
                                <button type="button" class="btn_lyr_remove"><span class="fas fa-check"></span>선택삭제</button>
                            </div>
                            <div class="paging" th:utext="${pageHtml}"></div>
                            <div class="btnBox right">
                                <button type="button" class="" onclick="add();"><span class="fas fa-check"></span>등록</button>
                            </div>
                        </div>
                        <!-- //.paging_wrap -->
                    </form>
                </div>
                <!-- //.content -->
            </div>
            <!-- //#contents -->
        </div>
    </div>
    </body>
    <script>

        //페이지 이동
        function goPage(num){
            $('#currentPage').val(num);
            goSch();
        }

        function goSch() {
            var mainFrm = $('#goDetailFrm');
            mainFrm.attr('method',"post");
            mainFrm.attr('action',"/test/board");
            mainFrm.submit();
        }




        function add() {

            var _width = '500';
            var _height = '500';
            // 팝업을 가운데 위치시키기 위해 아래와 같이 값 구하기
            var _left = (document.body.offsetWidth/2) - (_width/2); // 가운데 정렬

            //듀얼모니터
            if(window.screenLeft > 0) {
                _left += window.screenLeft; // 듀얼 모니터일 때
            }
            var _top = (document.body.offsetHeight/2) - (_height/2);

            var popSize = "width=500,height=500";
            var popOption = "titlebar=no,toolbar=no,menubar=no,location=no,directories=no,status=no,scrollbars=no";
            popOption += ', left=' + _left + ', top='+ _top;

            var popE = window.open("/bbs/add/view", "pop1", popSize + "," + popOption);
        }



    </script>
</div>
