<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="headerFragment">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link"><span th:text="${session.userInfo ==null ? '' : session.userInfo.userName}"></span></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/main/logout" class="nav-link">로그아웃</a>
            </li>
        </ul>
    </nav>
</html>
